/* Reset CSS, um standardmäßige Browser-Stile zu entfernen */

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #504A6E;
}

header {
  position: relative;
  background-color: #504A6E;
}

/* styles.css */
footer {
  background-color: #f5deb3;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  width: 60%;
  margin-left: auto; /* Zentriere den Footer horizontal */
  margin-right: auto; /* Zentriere den Footer horizontal */
  border-radius: 10px;
}


.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  color: #555;
  font-size: 24px;
}

.social-icons a:hover {
  color: #007bff;
}

img {
  width: 100%;
  height: auto;
}

.header-title {
  font-size: 60px;
  color: #f5deb3;
  text-align: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #f5deb3; /* Hintergrundfarbe für die Reiter */
  width: 62%;
  margin-left: auto; /* Zentriere den Footer horizontal */
  margin-right: auto; /* Zentriere den Footer horizontal */
  border-radius: 10px;
}

.nav-links li {
  padding: 10px 15px;
}

.nav-links a {
  text-decoration: none;
  color: #000; /* Textfarbe für die Reiter */
}

.main-content {
  background-color: #f5deb3; /* Hintergrundfarbe für den Hauptinhalt auf Computer */
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}

.aktuelles {
  padding: 20px;
}

.werSindWir {
  margin-top: 20px;
}

/* Footer-Styling hier einfügen */

/* Media Query für das responsive Design auf Mobilgeräten */

@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Reiter ausblenden auf Mobilgeräten */
  }

  .nav-links.show {
    display: flex; /* Reiter anzeigen, wenn geklickt wird */
  }

  .nav-links.show li {
    padding: 10px;
  }

  .main-content {
    width: 85%; /* Hauptinhalt auf Mobilgeräten über die gesamte Breite */
  }

  footer {
    background-color: #f5deb3;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 85%;
    margin-left: auto; /* Zentriere den Footer horizontal */
    margin-right: auto; /* Zentriere den Footer horizontal */
    border-radius: 10px;
  }
}
